@font-face {
  font-family: 'Corleone Due';
  src: local('Corleone Due'), url(./lib/assets/fonts/CorleoneDue.TTF) format('truetype');
}
body {
  margin: 0;
  font-family: 'Corleone Due', 'Forum', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
